
<mat-drawer-container class="example-container" autosize>

    <!-- BARRA LATERAL DEL MENU -->

    <mat-drawer [opened]="true" class="example-sidenav" mode="side">

      <mat-nav-list>
        <a mat-list-item href="...">Inicio</a>
        <a mat-list-item href="...">Cursos</a>
        <a mat-list-item href="...">Alumnos</a>
        <a mat-list-item href="...">Inscripciones</a>
      </mat-nav-list>

      </mat-drawer>

    <!-- CONTENIDO -->

      <!-- Toolbar inicio-->

      <!-- No puedo usar el codigo (click)="drawer.toggle()" porque me indica que desconoce
      la palabra drawer -->

      <mat-toolbar>
        <button mat-icon-button class="example-icon">
          <mat-icon>apps</mat-icon>
        </button>
        <span>Alumnos</span>
        <span class="example-spacer"></span>

      </mat-toolbar>




      <app-courses></app-courses>

    <!-- Toolbar fin -->

  <!-- </mat-drawer-container> -->

