<!-- <h1>Hola Facundo</h1> -->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Menu</p>
    @if (showFiller) {
      <p>Opciones</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Hola de nuevo
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Bienvenido
    </button>
  </div>

</mat-drawer-container>

